<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="assetsHead">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TekkenReborn</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link th:href="@{/styles.css}" rel="stylesheet" />
  </head>

  <body>
    <!-- Scripts fragment -->
    <div th:fragment="assetsScripts">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
