<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="fragments/base :: assetsHead"></div>
    <body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="app-container">
        <div class="app-header">
            <h2 class="mb-4">Please Register Fighters</h2>
        </div>

        <div class="players-card">
            <form th:action="@{/create-fighter}" th:object="${fighter}" method="POST">

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input id="name" type="text" class="form-control"
                        th:field="*{name}"
                        th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback"
                        th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}"></div>
                </div>

                <div class="mb-3">
                    <label for="health" class="form-label">Health</label>
                    <input id="health" type="number" class="form-control"
                        th:field="*{health}"
                        th:classappend="${#fields.hasErrors('health') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback"
                        th:if="${#fields.hasErrors('health')}"
                        th:errors="*{health}"></div>
                </div>

                <div class="mb-3">
                    <label for="damage" class="form-label">Damage</label>
                    <input id="damage" type="number" step="0.01" class="form-control"
                        th:field="*{damage}"
                        th:classappend="${#fields.hasErrors('damage') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback"
                        th:if="${#fields.hasErrors('damage')}"
                        th:errors="*{damage}"></div>
                </div>

                <div class="mb-3">
                    <label for="resistance" class="form-label">Resistance</label>
                     <input id="resistance" type="number" step="0.01" class="form-control"
                        th:field="*{resistance}"
                        th:classappend="${#fields.hasErrors('resistance') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback"
                        th:if="${#fields.hasErrors('resistance')}"
                        th:errors="*{resistance}"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-long">Create Fighter</button>
            </form>
        </div>
        </div>
<div th:insert="fragments/base :: assetsScripts"></div>
</body>
</html>