<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fighter List</title>
</head>
<body>

<h2>Registered Fighters</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Health</th>
        <th>Damage</th>
        <th>Resistance</th>
    </tr>

    <tr th:each="f : ${fighters}">
        <td th:text="${f.id}"></td>
        <td th:text="${f.name}"></td>
        <td th:text="${f.health}"></td>
        <td th:text="${f.damage}"></td>
        <td th:text="${f.resistance}"></td>
    </tr>
</table>

</body>
</html>
